<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PokemonGo.RocketAPI.Console.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PokemonGo.RocketAPI.Console.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <PokemonGo.RocketAPI.Console.UserSettings>
      <setting name="AuthType" serializeAs="String">
        <value>Google</value>
      </setting>
      <setting name="PtcUsername" serializeAs="String">
        <value>username2</value>
      </setting>
      <setting name="PtcPassword" serializeAs="String">
        <value>pw</value>
      </setting>
      <setting name="GoogleRefreshToken" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultLatitude" serializeAs="String">
        <value>52.379189</value>
      </setting>
      <setting name="DefaultLongitude" serializeAs="String">
        <value>4.899431</value>
      </setting>
      <setting name="DefaultAltitude" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="KeepMinIVPercentage" serializeAs="String">
        <value>85</value>
      </setting>
      <setting name="KeepMinCP" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="WalkingSpeedInKilometerPerHour" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="EvolveAllPokemonWithEnoughCandy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TransferDuplicatePokemon" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DelayBetweenMove" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="UsePokemonToNotCatchFilter" serializeAs="String">
        <value>False</value>
      </setting>
    </PokemonGo.RocketAPI.Console.UserSettings>
  </userSettings>
</configuration>
