<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PokemonGo.RocketAPI.Console.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PokemonGo.RocketAPI.Console.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <PokemonGo.RocketAPI.Console.UserSettings>
      <setting name="AuthType" serializeAs="String"><!--Authentication Types are Google/Ptc-->
        <value>Google</value>
      </setting>
      <setting name="PtcUsername" serializeAs="String"><!--Pokemon Trainer Club Username Authentication-->
        <value>username2</value>
      </setting>
      <setting name="PtcPassword" serializeAs="String"><!--Pokemon Trainer Club Password Authentication-->
        <value>pw</value>
      </setting>
      <setting name="DefaultLatitude" serializeAs="String"><!--Default Location Values, Good Coordinates can be found on the Discord Server #locations. https://discord.gg/VsVrjgr-->
        <value>52.379189</value>
      </setting>
      <setting name="DefaultLongitude" serializeAs="String"><!--Default Location Values, Good Coordinates can be found on the Discord Server #locations. https://discord.gg/VsVrjgr-->
        <value>4.899431</value>
      </setting>
      <setting name="DefaultAltitude" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="KeepMinIVPercentage" serializeAs="String"><!--Keep Minimum Pokemon IV Percentages. Default: 85-->
        <value>85</value>
      </setting>
      <setting name="KeepMinCP" serializeAs="String"><!--Keep Minimum CP Pokemon 1000CP and above-->
        <value>1000</value>
      </setting>
      <setting name="WalkingSpeedInKilometerPerHour" serializeAs="String"><!--Walking Distance Speed to different locations in km/h-->
        <value>50</value>
      </setting>
      <setting name="EvolveAllPokemonWithEnoughCandy" serializeAs="String"><!--Evolve Pokemon with sufficent amount of Candy's for that type of pokemon Automatically-->
        <value>False</value>
      </setting>
      <setting name="TransferDuplicatePokemon" serializeAs="String"><!--Transfer Duplicate Pokemon under highest CP Example (Transferred Pikachu CP 250 Max: 975)-->
        <value>True</value>
      </setting>
      <setting name="DelayBetweenPokemonCatch" serializeAs="String"><!--Delay of interaction between pokestops and captures in miliseconds-->
        <value>5000</value>
      </setting>
      <setting name="UsePokemonToNotCatchFilter" serializeAs="String"><!--Filter Pokemon the bot skips from capturing and wasting space in your sack-->
        <value>False</value>
      </setting>
      <setting name="KeepMinDuplicatePokemon" serializeAs="String"><!--Keep minimum amount type of that pokemon Example: (If value is set to 1 it will only keep 1 duplicate pokemon-->
        <value>1</value>
      </setting>
      <setting name="MaxTravelDistanceInMeters" serializeAs="String"><!--Distance traveled by the bot restricted by borderline in metres-->
        <value>1000</value>
      </setting>
    </PokemonGo.RocketAPI.Console.UserSettings>
  </userSettings>
</configuration>
