<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C5" version="2.2.5073.27396" targetFramework="net452" />
  <package id="CloudFlareUtilities" version="0.2.1-alpha" targetFramework="net452" />
  <package id="EngineIoClientDotNet" version="0.9.22" targetFramework="net452" />
  <package id="GeoCoordinate" version="1.1.0" targetFramework="net45" />
  <package id="Google.Protobuf" version="3.0.0-beta4" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="S2Geometry" version="1.0.1" targetFramework="net452" />
  <package id="SocketIoClientDotNet" version="0.9.13" targetFramework="net452" />
  <package id="Telegram.Bot" version="10.3.1" targetFramework="net452" />
  <package id="WebSocket4Net" version="0.14.1" targetFramework="net452" />
</packages>