<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target xsi:type="File" name="file" fileName="${basedir}/Logs/NecroBot-${shortdate}.log"
            layout="[${date:format=HH\:mm\:ss}] ${message}" archiveEvery="Day" />
    
    <target name="console" xsi:type="ColoredConsole"
            layout="[${date:format=HH\:mm\:ss}] ${message}" useDefaultRowHighlightingRules="false">
      <highlight-row condition="equals('${logger}','Error')" foregroundColor="Red"/>
      <highlight-row condition="equals('${logger}','Warning')" foregroundColor="DarkYellow"/>
      <highlight-row condition="equals('${logger}','Info')" foregroundColor="DarkCyan"/>
      <highlight-row condition="equals('${logger}','Pokestop')" foregroundColor="DarkCyan"/>
      <highlight-row condition="equals('${logger}','Farming')" foregroundColor="Magenta"/>
      <highlight-row condition="equals('${logger}','Sniper')" foregroundColor="White"/>
      <highlight-row condition="equals('${logger}','Recycling')" foregroundColor="DarkMagenta"/>
      <highlight-row condition="equals('${logger}','Caught')" foregroundColor="Green"/>
      <highlight-row condition="equals('${logger}','Transfer')" foregroundColor="DarkGreen"/>
      <highlight-row condition="equals('${logger}','Evolve')" foregroundColor="Yellow"/>
      <highlight-row condition="equals('${logger}','Berry')" foregroundColor="Yellow"/>
      <highlight-row condition="equals('${logger}','Egg')" foregroundColor="DarkYellow"/>
      <highlight-row condition="equals('${logger}','Debug')" foregroundColor="Gray"/>
      <highlight-row condition="equals('${logger}','Update')" foregroundColor="White"/>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>
